# Required flags for Strix Point AMD Ryzen AI 9 370
# Ensure Linux Kernel 6.13+ is used

# Enable AMDGPU directly into the kernel for instant boot
CONFIG_DRM_AMDGPU=y
CONFIG_EXTRA_FIRMWARE="amdgpu/strix_*.bin"

# Enable XDNA 2 NPU Support
CONFIG_ACCEL_AMDXDNA=m

# IOMMU Shared Virtual Memory for CPU/NPU interaction
CONFIG_IOMMU_SVA=y
